.navb {
	font-size:large;

}


li {
float:left;
list-style-type:none;

}

a {
	display:block;
	padding:8px;
	background-color: #9896F6;
	text-decoration: none;
	color:black;
}

thead td {
    font-weight: bold;
}

.box {
	width: 400px;
	clear: both;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.box input {
	width:100%;
	clear:both;
}

.results {
	width: 400px;
	clear: both;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.results td {
	width:10%;
	height:10%;
	font-size:medium;

}

.array {

	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 50px;

}

.array input {
	width:100%



}